/* ----- Style Sheet for PolarSPARC :: Version 1.0 ----- */
/* ----- Author: Bhaskar S    Date:     12/28/2012 ----- */
/* ----- Last Modified:                 07/10/2015 ----- */

/* ----- Title Block(s) ----- */

/* ----- Blue Color (Technology) ----- */
#title-div
{
    background: #FFFFFF;
    border: 1px solid #003399;
    border-radius: 5px;
    border-left: 20px solid #003399;
    border-right: 20px solid #003399;
    color: #003399;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* ----- Brown Color (Leadership) ----- */
#title-div-2
{
    background: #FFFFFF;
    border: 2px solid #660000;
    border-radius: 5px;
    border-left: 20px solid #660000;
    border-right: 20px solid #660000;
    color: #660000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* ----- Green Color (Math) ----- */
#title-div-3
{
    background: #FFFFFF;
    border: 2px solid #006600;
    border-radius: 5px;
    border-left: 20px solid #006600;
    border-right: 20px solid #006600;
    color: #006600;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* ----- Author and Date Block ----- */

/* ----- Blue Color (Technology) ----- */
#ad-table
{
    background: #FFFFFF;
    color: #003399;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 100%
}
#ad-table .author-td
{
    text-align: left;
}
#ad-table .date-td
{
    text-align: right;
}

/* ----- Brown Color (Leadership) ----- */
#ad-table-2
{
    background: #FFFFFF;
    color: #660000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 100%
}
#ad-table-2 .author-td
{
    text-align: left;
}
#ad-table-2 .date-td
{
    text-align: right;
}

/* ----- Green Color (Math) ----- */
#ad-table-3
{
    background: #FFFFFF;
    color: #006600;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 100%
}
#ad-table-3 .author-td
{
    text-align: left;
}
#ad-table-3 .date-td
{
    text-align: right;
}

/* ----- Horizontal Line ----- */

/* ----- Blue Color (Technology) ----- */
.line-hr
{
    color: #003399;
    border: 1px solid #003399;
}

/* ----- Brown Color (Leadership) ----- */
.line-hr-2
{
    color: #660000;
    border: 1px solid #660000;
}

/* ----- Green Color (Math) ----- */
.line-hr-3
{
    color: #006600;
    border: 1px solid #006600;
}

/* ----- Section Title Block ----- */

/* ----- Blue Color (Technology) ----- */
#section-div
{
    border-left: 10px solid #003399;
    color: #003399;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
#section-div p
{
    font-weight: bold;
    padding-left: 10px;
}

/* ----- Brown Color (Leadership) ----- */
#section-div-2
{
    border-left: 15px solid #660000;
    color: #660000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
#section-div-2 p
{
    font-weight: bold;
    padding-left: 10px;
}

/* ----- Green Color (Math) ----- */
#section-div-3
{
    border-left: 15px solid #006600;
    color: #006600;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
#section-div-3 p
{
    font-weight: bold;
    padding-left: 10px;
}

/* ----- Step Block ----- */

/* ----- Blue Color (Technology) ----- */
#step-div
{
    border-left: 5px solid #003399;
    color: #003399;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    text-align: left;
}
#step-div p
{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 25px;
}

/* ----- Green Color (Math) ----- */
#step-div-3
{
    border-left: 5px solid #006600;
    color: #006600;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    text-align: left;
}
#step-div-3 p
{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 25px;
}

/* ----- Paragraph Block ----- */

#para-div
{
    background: #FFFFFF;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
#para-div span.note
{
    background: #003399;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
#para-div span.caution
{
    background: #990000;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

/* ----- Unordered List (Blue Square) ----- */

#blue-sqr-ul
{
    color: #003399;
    line-height: 2;
    list-style-type: square;
    margin: 5px;
}
#blue-sqr-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
}

/* ----- Unordered List (Brown Square) ----- */

#brown-sqr-ul
{
    color: #660000;
    line-height: 2;
    list-style-type: square;
    margin: 5px;
}
#brown-sqr-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
}

/* ----- Unordered List (Green Square) ----- */

#green-sqr-ul
{
    color: #006600;
    line-height: 2;
    list-style-type: square;
    margin: 5px;
}
#green-sqr-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
}

/* ----- Unordered Sub List (Blue Disc) ----- */

#blue-disc-ul
{
    color: #003399;
    line-height: 2;
    list-style-type: disc;
    margin: 10px;
}
#blue-disc-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
}

/* ----- Ordered List (Blue Numbers) ----- */

#blue-ol
{
    color: #003399;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    margin: 5px;
}
#blue-ol p
{
    color: #000000;
    font-weight: normal;
}

/* ----- 2-Column Table ----- */

/* ----- Blue Color (Technology) ----- */
#col2-table
{
    background: #FFFFFF;
    border: 2px solid #003399;
    border-radius: 5px;
    color: #003399;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#col2-table th
{
    background: #CCD6EB;
    border-bottom: 1px solid #003399;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
}
#col2-table td
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
}
#col2-table .col2-c1-even
{
    background: #CCD6EB;
    width: 20%
}
#col2-table .col2-c1-odd
{
    width: 20%
}
#col2-table .col2-c2-even
{
    background: #CCD6EB;
    width: 80%
}
#col2-table .col2-c2-odd
{
    width: 80%
}

/* ----- Green Color (Math) ----- */
#col2-table-3
{
    background: #FFFFFF;
    border: 2px solid #006600;
    border-radius: 5px;
    color: #006600;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#col2-table-3 th
{
    background: #CDFFCD;
    border-bottom: 1px solid #006600;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
}
#col2-table-3 td
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
}
#col2-table-3 .col2-c1-even
{
    background: #CDFFCD;
    width: 20%
}
#col2-table-3 .col2-c1-odd
{
    width: 20%
}
#col2-table-3 .col2-c2-even
{
    background: #CDFFCD;
    width: 80%
}
#col2-table-3 .col2-c2-odd
{
    width: 80%
}

/* ----- 3-Column Table ----- */

/* ----- Blue Color (Technology) ----- */
#col3-table
{
    background: #FFFFFF;
    border: 2px solid #003399;
    border-radius: 5px;
    color: #003399;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#col3-table th
{
    background: #CCD6EB;
    border-bottom: 1px solid #003399;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
}
#col3-table td
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
}
#col3-table .col3-c1-even
{
    background: #CCD6EB;
    width: 20%
}
#col3-table .col3-c1-odd
{
    width: 20%
}
#col3-table .col3-c2-even
{
    background: #CCD6EB;
    width: 20%
}
#col3-table .col3-c2-odd
{
    width: 20%
}
#col3-table .col3-c3-even
{
    background: #CCD6EB;
    width: 60%
}
#col3-table .col3-c3-odd
{
    width: 60%
}

/* ----- 2-Row Table ----- */

/* ----- Green Color (Math) ----- */
#row2-table-3
{
    background: #FFFFFF;
    border: 2px solid #006600;
    border-radius: 5px;
    color: #006600;
    font-family: "Courier New", Courier, Fixed;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#row2-table-3 th
{
    background: #CDFFCD;
    border-bottom: 1px solid #006600;
    font-weight: bold;
    padding-left: 5px;
}
#row2-table-3 .th-c1
{
    width: 10%
}
#row2-table-3 td
{
    color: #000000;
    font-weight: normal;
    padding-left: 5px;
}

/* ----- Image Block ----- */

/* ----- Blue Color (Technology) ----- */
#img-outer-div
{
}
.img-cls
{
    border: 2px solid #003399;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-cap
{
    background: #003399;
    color: #CCD6EB;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
}

/* ----- Brown Color (Leadership) ----- */
#img-outer-div-2
{
}
.img-cls-2
{
    border: 2px solid #660000;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-cap-2
{
    background: #660000;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
}

/* ----- Green Color (Math) ----- */
#img-outer-div-3
{
}
.img-cls-3
{
    border: 2px solid #006600;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-cap-3
{
    background: #006600;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
}

/* ----- Attention Block ----- */

#attn-div
{
    background: #FFFF66;
    border: 2px solid #800000;
    color: #800000;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#attn-div h4
{
    background: #800000;
    color: #FFFF66;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: -3px;
    padding: 1px 1px 1px 5px;
    text-align: center;
    width: 15%;
}
#attn-div p
{
    font-weight: bold;
    margin: 5px;
    margin-top: 10px;
}
    
/* ----- Command Block ----- */

#cmd-div
{
    background: #D5EAFF;
    border: 2px solid #0C2C50;
    border-left: 20px solid #0C2C50;
    border-radius: 5px;
    color: #0C2C50;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding-left: 10px;
    width: 68%;
}
#cmd-div p, pre
{
    font-weight: bold;
}

/* ----- Source Code Block ----- */

#sc-fieldset
{
    background: #D6FFD6;
    border: 2px solid #003366;
    border-radius: 10px;
    color: #003366;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#sc-fieldset legend
{
    border-radius: 5px;
    background: #003366;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 2px 10px 2px 10px;
    text-align: center;
}
#sc-fieldset p, pre
{
    font-weight: normal;
    padding: 1px 1px 0px 5px;
}

/* ----- Output Block ----- */

#out-div
{
    background: #2B2B2B;
    border: 2px solid #CBDDDD;
    border-radius: 10px;
    color: #CBDDDD;
    font-family: "Courier New", Courier, Fixed;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#out-div h4
{
    background: #CBDDDD;
    color: #232B2B;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    padding: 1px 1px 1px 5px;
    text-align: left;
}
#out-div p
{
    font-weight: normal;
}
#out-div pre
{
    font-weight: normal;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ----- Text Style ----- */

.bold
{
    font-weight: bold;    
}

.underbold
{
    font-weight: bold;
    text-decoration: underline;    
}

.error
{
    color: #CC0000;
    font-style: italic;
    font-weight: bold;
}

.hi-yellow
{
    background: #FFFF00;
    font-weight: bold;
}

.hi-Green
{
    background: #FF6600;
    font-weight: bold;
}

.hi-pink
{
    background: #FF33CC;
    font-weight: bold;
}

.hi-blue
{
    background: #00FFFF;
    font-weight: bold;
}

.hi-green
{
    background: #00FF00;
    font-weight: bold;
}

.hi-red
{
    background: #FF3333;
    font-weight: bold;
}

.hi-vanila
{
    background: #FFCC66;
    font-weight: bold;
}

/* ----- End ----- */

