/* ----- Style Sheet for PolarSPARC ----- */
/* ----- Version:       2.0         ----- */
/* ----- Author:        Bhaskar S   ----- */
/* ----- Date:          12/28/2012  ----- */
/* ----- Last Modified: 12/19/2020  ----- */


/* ----- Header Block(s) ----- */

/* ----- Blue Color (Technology) ----- */
#ps-header {
    display: inline-block;
    width: 100%;
}
#ps-header img {
    border: 3px solid #0077E6;
    border-radius: 10px;
    height: 25vw;
    width: 100%;
}

/* ----- Home Block(s) ----- */

/* ----- Blue Color (Technology) ----- */
#ps-home {
  font-size: 38px;
  color: transparent;
  user-select: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: visible;
  vertical-align: top;
  font-style: normal;
  height: 1em;
  width: 1em;
  mix-blend-mode: multiply;
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 12.5%, transparent 12.5%, transparent 87.5%, #ffffff 87.5%),
              linear-gradient(0deg, transparent 0%, transparent 50%, #CCE6FF 50%, #CCE6FF 62.5%, transparent 62.5%),
              linear-gradient(90deg, transparent 0%, transparent 43.75%, #ffffff 43.75%, #ffffff 56.25%, transparent 56.25%),
              linear-gradient(0deg, #ffffff 0%, #ffffff 12.5%, #0077E6 12.5%, #0077E6 62.5%, transparent 62.5%);
}
#ps-home:before {
  background-color: #ffffff;
  border-color: transparent transparent #0077E6 transparent;
  border-style: solid;
  border-width: 0 0.5em 0.375em 0.5em;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: 0.05em;
}
#home-a
{
    color: #0077E6;
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}

/* ----- Footer Block(s) ----- */

/* ----- Blue Color (Technology) ----- */
#footer-a
{
    color: #0077E6;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/* ----- Title Block(s) ----- */

/* ----- Blue Color (Technology) ----- */
#title-div
{
    background: #CCE6FF;
    border: 5px solid #0077E6;
    border-radius: 5px;
    border-style: double double;
    color: #0077E6;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#title-div p
{
    margin: 5px;
}

/* ----- Brown Color (Leadership) ----- */
#title-div-2
{
    background: #FFFFFF;
    border: 2px solid #660000;
    border-radius: 5px;
    border-left: 20px solid #660000;
    border-right: 20px solid #660000;
    color: #660000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
#title-div-2 p
{
    margin: 5px;
}

/* ----- Green Color (Math) ----- */
#title-div-3
{
    background: #CAE4DB;
    border: 5px solid #57652A;
    border-radius: 5px;
    border-style: double double;
    color: #990033;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#title-div-3 p
{
    margin: 5px;
}

/* ----- Author and Date Block ----- */

/* ----- Blue Color (Technology) ----- */
#ad-table
{
    background: #FFFFFF;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 100%
}
#ad-table .author-td
{
    text-align: left;
}
#ad-table .date-td
{
    text-align: right;
}

/* ----- Brown Color (Leadership) ----- */
#ad-table-2
{
    background: #FFFFFF;
    color: #660000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 100%
}
#ad-table-2 .author-td
{
    text-align: left;
}
#ad-table-2 .date-td
{
    text-align: right;
}

/* ----- Green Color (Math) ----- */
#ad-table-3
{
    background: #FFFFFF;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 100%
}
#ad-table-3 .author-td
{
    text-align: left;
}
#ad-table-3 .date-td
{
    text-align: right;
}

/* ----- Horizontal Line ----- */

/* ----- Blue Color (Technology) ----- */
.line-hr
{
    color: #0077E6;
    border: 1px solid #0077E6;
}

/* ----- Brown Color (Leadership) ----- */
.line-hr-2
{
    color: #660000;
    border: 1px solid #660000;
}

/* ----- Green Color (Math) ----- */
.line-hr-3
{
    color: #57652A;
    border: 1px solid #57652A;
}

/* ----- Section Title Block ----- */

/* ----- Blue Color (Technology) ----- */
#section-div
{
    background: #FFEB99;
    border-left: 30px solid #585858;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    display: inline-table;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
#section-div p
{
    font-weight: bold;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ----- Brown Color (Leadership) ----- */
#section-div-2
{
    background: #F9A820;
    border-left: 30px solid #585858;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    display: inline-table;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
#section-div-2 p
{
    font-weight: bold;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ----- Green Color (Math) ----- */
#section-div-3
{
    background: #DF744A;
    border-left: 30px solid #535353;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    color: #FFFFFF;
    display: inline-table;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
#section-div-3 p
{
    font-weight: bold;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ----- Step Block ----- */

/* ----- Blue Color (Technology) ----- */
#step-div
{
    background: #CCE6FF;
    border-left: 15px solid #0077E6;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    display: table;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}
#step-div p
{
    font-weight: bold;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ----- Step Table ----- */
#step-table
{
    background: #FFFFFF;
    border-spacing: 0;
    color: #0077E6;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin: 25px;
}
#step-table .text-td
{
    background: #FFEB99;
    border: 2px solid #0077E6;
    border-radius: 3px;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
#step-table .pointer-td
{
  width: 0; 
  height: 0;
  border-radius: 3px;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #0077E6;
}

/* ----- Green Color (Math) ----- */
#step-div-3
{
    background: #CAE4DB;
    border-left: 15px solid #57652A;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    display: table;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}
#step-div-3 p
{
    font-weight: bold;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ----- Paragraph Block ----- */
#para-div
{
    background: #FFFFFF;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
#para-div span.note
{
    background: #003399;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
#para-div span.caution
{
    background: #990000;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

/* ----- Unordered List (Blue Square) ----- */
#blue-sqr-ul
{
    color: #0077E6;
    line-height: 2;
    list-style-type: square;
    margin: 5px;
}
#blue-sqr-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
}

/* ----- Unordered List (Brown Square) ----- */
#brown-sqr-ul
{
    color: #660000;
    line-height: 2;
    list-style-type: square;
    margin: 5px;
}
#brown-sqr-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
}

/* ----- Unordered List (Green Square) ----- */
#green-sqr-ul
{
    color: #57652A;
    line-height: 2;
    list-style-type: square;
    margin: 5px;
}
#green-sqr-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
}

/* ----- Unordered Sub List (Blue Disc) ----- */
#blue-disc-ul
{
    color: #0077E6;
    line-height: 2;
    list-style-type: disc;
    margin: 10px;
}
#blue-disc-ul p
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

/* ----- Ordered List (Blue Numbers) ----- */
#blue-ol
{
    color: #0077E6;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    margin: 5px;
}
#blue-ol p
{
    color: #000000;
    font-weight: normal;
}

/* ----- 2-Column Table ----- */

/* ----- Blue Color (Technology) ----- */
#col2-table
{
    background: #FFFFFF;
    border: 2px solid #0077E6;
    border-radius: 5px;
    color: #003399;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#col2-table th
{
    background: #CCE6FF;
    border-bottom: 1px solid #0077E6;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
}
#col2-table td
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
}
#col2-table .col2-c1-even
{
    background: #CCE6FF;
    width: 20%
}
#col2-table .col2-c1-odd
{
    width: 20%
}
#col2-table .col2-c2-even
{
    background: #CCE6FF;
    width: 80%
}
#col2-table .col2-c2-odd
{
    width: 80%
}

/* ----- Green Color (Math) ----- */
#col2-table-3
{
    background: #FFFFFF;
    border: 2px solid #57652A;
    border-radius: 5px;
    color: #57652A;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#col2-table-3 th
{
    background: #CAE4DB;
    border-bottom: 1px solid #57652A;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
}
#col2-table-3 td
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
}
#col2-table-3 .col2-c1-even
{
    background: #CAE4DB;
    width: 20%
}
#col2-table-3 .col2-c1-odd
{
    width: 20%
}
#col2-table-3 .col2-c2-even
{
    background: #CAE4DB;
    width: 80%
}
#col2-table-3 .col2-c2-odd
{
    width: 80%
}

/* ----- 3-Column Table ----- */

/* ----- Blue Color (Technology) ----- */
#col3-table
{
    background: #FFFFFF;
    border: 2px solid #0077E6;
    border-radius: 5px;
    color: #003399;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#col3-table th
{
    background: #CCE6FF;
    border-bottom: 1px solid #0077E6;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
}
#col3-table td
{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
}
#col3-table .col3-c1-even
{
    background: #CCE6FF;
    width: 20%
}
#col3-table .col3-c1-odd
{
    width: 20%
}
#col3-table .col3-c2-even
{
    background: #CCE6FF;
    width: 20%
}
#col3-table .col3-c2-odd
{
    width: 20%
}
#col3-table .col3-c3-even
{
    background: #CCE6FF;
    width: 60%
}
#col3-table .col3-c3-odd
{
    width: 60%
}

/* ----- 2-Row Table ----- */

/* ----- Green Color (Math) ----- */
#row2-table-3
{
    background: #FFFFFF;
    border: 2px solid #57652A;
    border-radius: 5px;
    color: #57652A;
    font-family: "Courier New", Courier, Fixed;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%
}
#row2-table-3 th
{
    background: #CAE4DB;
    border-bottom: 1px solid #57652A;
    font-weight: bold;
    padding-left: 5px;
}
#row2-table-3 .th-c1
{
    width: 10%
}
#row2-table-3 td
{
    color: #000000;
    font-weight: normal;
    padding-left: 5px;
}

/* ----- Image Block ----- */

/* ----- Blue Color (Technology) ----- */
#img-outer-div
{
}
.img-cls
{
    border: 2px solid #0077E6;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-cap
{
    background: #CCE6FF;
    border-bottom: 1px solid #0077E6;
    border-left: 1px solid #0077E6;
    border-right: 1px solid #0077E6;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
}

/* ----- Brown Color (Leadership) ----- */
#img-outer-div-2
{
}
.img-cls-2
{
    border: 2px solid #660000;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-cap-2
{
    background: #660000;
    box-shadow: 2px 2px 1px grey;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
}

/* ----- Green Color (Math) ----- */
#img-outer-div-3
{
}
.img-cls-3
{
    border: 2px solid #57652A;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.img-cap-3
{
    background: #57652A;
    box-shadow: 2px 2px 1px grey;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
}

/* ----- Attention Block ----- */
#attn-div
{
    background: #F2CBCB;
    border: 2px solid #8C0000;
    box-shadow: 2px 2px 1px grey;
    color: #8C0000;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#attn-div h4
{
    background: #8C0000;
    box-shadow: 2px 2px 1px grey;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: -3px;
    padding: 1px 1px 1px 5px;
    text-align: center;
    width: 15%;
}
#attn-div p
{
    font-weight: bold;
    margin: 5px;
    margin-top: 10px;
}

/* ----- Command Block ----- */
#cmd-div
{
    background: #CCE6FF;
    border: 2px solid #0077E6;
    border-left: 20px solid #0077E6;
    border-radius: 5px;
    color: #0077E6;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding-left: 10px;
    width: 68%;
}
#cmd-div p, pre
{
    color: #992600;
    font-weight: bold;
}

/* ----- Source Code Block ----- */
#sc-fieldset
{
    background: #FFF0B3;
    border: 2px solid #585858;
    border-radius: 10px;
    color: #000000;
    font-family: Consolas, Monaco, "Courier New", Monospace;
    font-size: 12px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    min-width: 0%;
    max-width: 70%;
    width: 70%;
}
#sc-fieldset legend
{
    border-radius: 5px;
    background: #585858;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 2px 10px 2px 10px;
    text-align: center;
}
#sc-fieldset p, pre
{
    color: #000000;
    font-weight: normal;
    padding: 1px 1px 0px 5px;
}

#sc-figure
{
    background: #FEF9C7;
    border: 2px solid #585858;
    border-radius: 10px;
    color: #000000;
    font-family: Consolas, Monaco, "Courier New", Monospace;
    font-size: 12px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    min-width: 0%;
    max-width: 70%;
    width: 70%;
}
#sc-figure figcaption
{
    border-radius: 5px;
    background: #474B4F;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 2px 10px 2px 10px;
    text-align: center;
}
#sc-figure pre, code
{
    color: #000000;
    font-weight: normal;
    margin: 10px;
    padding: 1px 1px 0px 5px;
    color: #474B4F;
}

/* ----- Output Block ----- */
#out-div
{
    background: #E8E8E8;
    border: 2px solid #585858;
    border-radius: 10px;
    color: #000000;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#out-div h4
{
    background: #585858;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    padding: 1px 1px 1px 5px;
    text-align: left;
}
#out-div p
{
    font-weight: normal;
}
#out-div pre
{
    font-weight: normal;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ----- Code Style ----- */
#code-div
{
  background: #CCE6FF;
  border: 1px solid #0077E6;
  border-left: 10px solid #003399;
  border-radius: 10px;
  color: #000000;
  font-family: "Courier New", Courier, Fixed;
  font-size: 11px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding-left: 11px;
  padding-right: 11px;
  width: 70%;
}
#code-div pre
{
  font-weight: normal;
}

/* ----- Info Block ----- */
#info-div
{
    background: #A3D7F0;
    border: 2px solid #177EE0;
    border-radius: 10px;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#info-div h4
{
    background: #177EE0;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    padding: 5px 5px 5px 10px;
    text-align: left;
}
#info-div p
{
    font-weight: normal;
}
#info-div pre
{
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ----- Warning Block ----- */
#warn-div
{
    background: #F6D190;
    border: 2px solid #F9A820;
    border-radius: 10px;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#warn-div h4
{
    background: #F9A820;
    border-radius: 5px;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    padding: 5px 5px 5px 10px;
    text-align: left;
}
#warn-div p
{
    font-weight: normal;
}
#warn-div pre
{
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ----- Error Block ----- */
#error-div
{
    background: #F7D3D0;
    border: 2px solid #B72C20;
    border-radius: 10px;
    box-shadow: 2px 2px 1px grey;
    color: #000000;
    font-family: "Courier New", Courier, Fixed;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 70%;
}
#error-div h4
{
    background: #B72C20;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    padding: 5px 5px 5px 10px;
    text-align: left;
}
#error-div p
{
    font-weight: normal;
}
#error-div pre
{
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ----- Text Style ----- */
.bold
{
    font-weight: bold;
}

.underbold
{
    font-weight: bold;
    text-decoration: underline #B72C20;
    text-decoration-style: double;
}

.error
{
    color: #CC0000;
    font-style: italic;
    font-weight: bold;
}

.hi-yellow
{
    background: #FFFF99;
    border-color: #FFCC00;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-orange
{
    background: #FFCC99;
    border-color: #FF9933;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-pink
{
    background: #FFCCFF;
    border-color: #FF4DFF;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-blue
{
    background: #B3FFFF;
    border-color: #00CCCC;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-green
{
    background: #B3FFCC;
    border-color: #00CC44;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-red
{
    background: #FFCCCC;
    border-color: #FF4D4D;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-vanila
{
    background: #FFF7E6;
    border-color: #FFDD99;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-purple
{
    background: #E6CCFF;
    border-color: #9933FF;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

.hi-grey
{
    background:  #E5E5E5;
    border-color: #7C7C7C;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-family: Courier, Monospace;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

/* ----- Unicode Symbol Style ----- */
#symbol-24
{
    font-size: 24px;
}

/* ----- End ----- */
